<template>
    <div class="col">
        <table class="table">
            <thead class="table-info">
            <tr>
                <th scope="col"><a href="javascript:void(0)" @click="sortProducts('id'); changeSortDirection()">Order nr.:</a></th>
                <th scope="col"><a href="javascript:void(0)" @click="sortProducts('name'); changeSortDirection()">Product:</a></th>
                <th scope="col"><a href="javascript:void(0)" @click="sortProducts('amount'); changeSortDirection()">Amount:</a></th>
                <th scope="col"><a href="javascript:void(0)" @click="sortProducts('price'); changeSortDirection()">Price:</a></th>
                <th scope="col"><a href="javascript:void(0)" @click="sortProducts('date'); changeSortDirection()">Delivered at:</a></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entry in orders">
                <th scope="row">{{entry.id}}</th>
                <td>{{products.find(product => product.id === entry.product_id).name}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.amount*products.find(product => product.id === entry.product_id).price}} €</td>
                <td>{{entry.updated_at}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "UserDelivered",

        data: function () {
            return {
                orders: {},
                products: {},
                sortDirection: 'ASC'
            }
        },

        created() {
            axios.get('/allUserDelivered')
                .then(response => {
                    this.orders = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });

            axios.get('/allProductsEvenDeleted')
                .then(response => {
                    this.products = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },

        methods: {

            sortProducts(sortBy,sortDirection=this.sortDirection) {
                let products = this.products;
                if (sortBy === 'name') {
                    this.orders.sort(function (a, b) {
                        if (sortDirection === 'ASC') {
                            return ((products.find(product => product.id === a.product_id).name === products.find(product => product.id === b.product_id).name) ? 0 : ((products.find(product => product.id === a.product_id).name > products.find(product => product.id === b.product_id).name) ? 1 : -1));
                        } else if (sortDirection === 'DESC') {
                            return ((products.find(product => product.id === a.product_id).name === products.find(product => product.id === b.product_id).name) ? 0 : ((products.find(product => product.id === a.product_id).name < products.find(product => product.id === b.product_id).name) ? 1 : -1));
                        }
                    })
                } else if (sortBy === 'price') {
                    this.orders.sort(function (a, b) {
                        if (sortDirection === 'ASC') {
                            return a.amount*products.find(product => product.id === a.product_id).price < b.amount*products.find(product => product.id === b.product_id).price ? 1 : -1;
                        } else if (sortDirection === 'DESC') {
                            return a.amount*products.find(product => product.id === a.product_id).price > b.amount*products.find(product => product.id === b.product_id).price ? 1 : -1;
                        }
                    })
                } else if (sortBy === 'amount') {
                    this.orders.sort(function (a, b) {
                        if (sortDirection === 'ASC') {
                            return a.amount < b.amount ? 1 : -1;
                        } else if (sortDirection === 'DESC') {
                            return a.amount > b.amount ? 1 : -1;
                        }
                    })
                } else if (sortBy === 'id') {
                    this.orders.sort(function (a, b) {
                        if (sortDirection === 'ASC') {
                            return a.id < b.id ? 1 : -1;
                        } else if (sortDirection === 'DESC') {
                            return a.id > b.id ? 1 : -1;
                        }
                    })
                } else if(sortBy === 'date') {
                    this.orders.sort(function (a, b) {
                        if (sortDirection === 'ASC') {
                            return new Date(a.updated_at) - new Date(b.updated_at);
                        } else if (sortDirection === 'DESC') {
                            return new Date(b.updated_at) - new Date(a.updated_at);
                        }
                    })
                }
            },

            changeSortDirection(){
                if(this.sortDirection === 'ASC') {
                    this.sortDirection = 'DESC';
                } else {
                    this.sortDirection = 'ASC';
                }
            },
        }
    }
</script>