<template>
    <div class="col">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-bold">Name:</label>
                        <label class="form-control">{{user.name}}</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-bold">Email:</label>
                        <label class="form-control">{{user.email}}</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-bold">City:</label>
                        <label class="form-control">{{user.city}}</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-bold">Address:</label>
                        <label class="form-control">{{user.address}}</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-bold">Zip:</label>
                        <label class="form-control">{{user.zip}}</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-bold">Phone:</label>
                        <label class="form-control">{{user.phone}}</label>
                    </div>
                </div>
                <div style="width: 200px">
                    <button class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#staticBackdrop">Change</button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="col">
                                    <label class="font-weight-bold">Name:</label>
                                    <input type="text" class="form-control" v-model="user.name">

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="font-weight-bold">City:</label>
                                            <input type="text" class="form-control" v-model="user.city">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="font-weight-bold">Address:</label>
                                            <input type="text" class="form-control" v-model="user.address">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="font-weight-bold">Zip:</label>
                                            <input type="text" class="form-control" v-model="user.zip">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="font-weight-bold">Phone:</label>
                                            <input type="text" class="form-control" v-model="user.phone">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="font-weight-bold">New password:</label>
                                            <input type="password" class="form-control" v-model="password">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="font-weight-bold">Repeat new password:</label>
                                            <input type="password" class="form-control" v-model="password2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" @click="saveChange()" data-dismiss="modal">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</template>

<script>
    export default {
        props: ['users'],

        data: function () {
            return {
                user: this.users,
                password: null,
                password2: null,
                params: new FormData()
            };
        },

        methods: {
            saveChange() {
                if(this.user.name !== '' && this.user.name !== null) {
                    this.params.append("name", this.user.name);
                    if(this.user.city !== null) this.params.append("city", this.user.city);
                    if(this.user.address !== null) this.params.append("address", this.user.address);
                    if(this.user.zip !== null) this.params.append("zip", this.user.zip);
                    if(this.user.phone !== null) this.params.append("phone", this.user.phone);
                    if(this.password !== null && this.password2 !== null)
                    {
                        if(this.password === this.password2) this.params.append("password", this.password);
                        else $.notify("Passwords do not match!", "error");
                    }
                    axios.post('/profileUpdate', this.params)
                        .then(response => {$.notify(response.data, "info")})
                        .catch(error => {$.notify("Bad data!", "error")});
                } else {
                    $.notify("Complete all fields", "error");
                }
            }
        }

    }
</script>

<style scoped>
    .form-control {
        color: black;
    }
</style>