<template>
    <!-- Shop -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_title">Categories</div>
                        <ul class="sidebar_categories">
                            <li v-for="(entry, index) in catalogs"
                                :item="entry"
                                :key="index"
                                @click="
          catalogItem = entry;
          active = index;
        "
                                >
                                <a href="javascript:void(0)" :class="{active2: entry.name === catalogItem.name }">{{entry.name}}</a></li>
                        </ul>
                    </div>
                    <div class="sidebar_section filter_by_section">
                        <div class="sidebar_title">Filter By</div>
                        <div class="sidebar_subtitle">Price</div>
                        <div class="filter_price">
                            <p>Range: </p>
                            <div>
                            <p style="margin-bottom: 5px"><input style="color: blue"type="number" v-model.number="priceFrom" placeholder="From" @change="checkValueFrom();checkValueTo()"> €</p>
                            <p><input style="color: blue" type="number" v-model.number="priceTo" placeholder="To" @change="checkValueTo()"> €</p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle brands_subtitle">Brands</div>
                        <ul class="brands_list">
                            <li v-for="(entry, index) in brands" @click="brandItem = entry" class="brand"><a href="javascript:void(0)" :class="{active2: entry.name === brandItem.name }">{{entry.name}}</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <!-- Shop Content -->

                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>{{products.length}}</span> products found</div>
                        <div class="shop_sorting">
                            <span>Sort by:</span>
                            <ul>
                                <li>
                                    <span class="sorting_text">choose<i class="fas fa-chevron-down"></i></span>
                                    <ul>
                                        <li class="shop_sorting_button" @click="sortProducts('name'); changeSortDirection()">
                                            name
                                        </li>
                                        <li class="shop_sorting_button" @click="sortProducts('price'); changeSortDirection()">
                                            price
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product_grid">
                        <div class="product_grid_border"></div>
                        <!-- Product Item -->
                        <div class="product_item" v-for="(entry,index) in products"
                             v-if="itemFilter(entry)">
                            <div class="product_border"></div>
                            <div class="product_image d-flex flex-column align-items-center justify-content-center"><img
                                    :src="'/uploads/'+ entry.file_name " alt=""></div>
                            <div class="product_content">
                                <div class="product_price">{{entry.price}} €</div>
                                <div class="product_name">
                                    <div><a :href="'/product/'+ entry.id" tabindex="0">{{entry.name}}</a></div>
                                </div>
                            </div>
                            <div class="product_fav " :id="'class' + index" v-if="user !== undefined" @click="myFilter(index); addToFavorite(entry.id)"  :class="{active: isActive[index]}"><i class="fas fa-heart"></i></div>
                            <ul class="product_marks">
                                <li class="product_mark product_discount">-25%</li>
                                <li class="product_mark product_new">new</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['points','user'],

        data: function () {
            return {
                fkey: "product_catalog_id",
                fkey2: "brand_id",
                catalogItem: {
                    name: "All products"
                },
                brandItem: {
                  name: "All brands"
                },
                products: this.points,
                product: {},
                catalogs: [],
                brands: [],
                sortDirection: 'ASC',
                priceFrom: '',
                priceTo: '',
                isActive: []
            };
        },
        created() {
            if(this.user !== undefined) {
                for(let i =0; i < this.products.length; i++) {
                    this.product = this.products[i];
                    fetch('/checkOrItemInFavorite/'+this.product.id)
                        .then(res => res.json())
                        .then(res => (this.isActive[i] = res))
                        .catch(error => console.log(error));
                }
            }

            fetch('/allCatalog')
                .then(res => res.json())
                .then(res => (this.catalogs = res))
                .catch(error => console.log(error));

            fetch('/allBrand')
                .then(res => res.json())
                .then(res => (this.brands = res))
                .catch(error => console.log(error));
        },
        methods: {
            itemFilter(entry) {
                if((entry.price >= this.priceFrom && entry.price <= this.priceTo) || (this.priceFrom === '' && this.priceTo === '')
                ||(this.priceFrom === '' && entry.price <= this.priceTo) || (this.priceTo === '' && entry.price >= this.priceFrom)){
                    if (this.catalogItem.name === "All products" && this.brandItem.name === "All brands") {
                        return entry;
                    } else if (this.catalogItem.name !== "All products" && this.brandItem.name === "All brands") {
                        if (entry[this.fkey] === this.catalogItem.id) {
                            return entry;
                        }
                    } else if (this.catalogItem.name === "All products" && this.brandItem.name !== "All brands") {
                        if (entry[this.fkey2] === this.brandItem.id) {
                            return entry;
                        }
                    } else if (this.catalogItem.name !== "All products" && this.brandItem.name !== "All brands") {
                        if (entry[this.fkey] === this.catalogItem.id && entry[this.fkey2] === this.brandItem.id) {
                            return entry;
                        }
                    }
                }
            },

            sortProducts(sortBy,sortDirection=this.sortDirection){
                if(sortBy === 'name') {
                    this.products.sort( function( a, b ){
                        if(sortDirection === 'ASC' ){
                            return ( ( a.name === b.name ) ? 0 : ( ( a.name > b.name ) ? 1 : -1 ) );
                        }
                        else if(sortDirection === 'DESC' ){
                            return ( ( a.name === b.name ) ? 0 : ( ( a.name < b.name ) ? 1 : -1 ) );
                        }
                    })
                } else if(sortBy === 'price') {
                    this.products.sort(function (a, b) {
                        if (sortDirection === 'ASC') {
                            return a.price < b.price ? 1 : -1;
                        } else if (sortDirection === 'DESC') {
                            return a.price > b.price ? 1 : -1;
                        }
                    })
                }
            },

            changeSortDirection(){
                if(this.sortDirection === 'ASC') {
                    this.sortDirection = 'DESC';
                } else {
                    this.sortDirection = 'ASC';
                }
            },

            checkValueFrom() {
                if(this.priceFrom <= 0) {
                    this.priceFrom = ''
                }
            },

            checkValueTo(){
                if(this.priceTo < this.priceFrom || this.priceTo === 0){
                    this.priceTo = ''
                }
            },

            myFilter(index) {
                this.isActive[index] = !this.isActive[index];
            },

            addToFavorite(id) {
                    $.ajax({
                        url     : '/favorite/'+id,
                        method  : 'post',
                        data    : {},
                        success : function (response) {
                         if(response === "addToFavoriteSuccessfully"){
                                $.notify("Successfully! Added to favorite cart!", "info");
                                document.getElementsByClassName('wishlist_count')[0].innerText++;

                            } else if(response === "deletedFromFavoriteSuccessfully"){
                                $.notify("Successfully! Deleted from favorite cart!", "error");
                                document.getElementsByClassName('wishlist_count')[0].innerText--;
                            }
                        }
                    })
                }
            }
    };
</script>
<style scoped>
    a.active2 {
        color: blue;
    }
</style>