<template>
    <div class="container" style="width: 720px">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nr.</th>
                <th scope="col">Title</th>
                <th scope="col" class="text-center">Change</th>
                <th scope="col" class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(entry,index) in brands">
                <th scope="row">{{index+1}}</th>
                <td>{{entry.name}}</td>
                <td v-if="entry.id !== 1" class="text-center"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-backdrop="static" data-target="#exampleModalCenter" @click="brand = entry">Change</button></td>
                <td v-if="entry.id !== 1" class="text-center"><button type="button" class="btn btn-danger btn-sm" @click="brand = entry; deleteEvent(index)">Delete</button></td>
            </tr>
            </tbody>
        </table>

        <div class="text-right">
            <a href="/admin#/addToBrands"><button type="button" class="btn btn-success btn-sm">Add new brand</button></a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">Change name:</label>
                            <input type="text" class="form-control" v-model="brand.name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="saveValue()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BrandsControl",

        data: function () {
            return {
                brand: {},
                brands: {},
                params: new FormData()
            }
        },

        created() {
            axios.get('/allBrand')
                .then(response => {
                    this.brands = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                })
        },

        methods: {

            saveValue() {
                this.params.append('name', this.brand.name);
                axios.post('/changeBrandName/' + this.brand.id, this.params)
                    .then(response => $.notify(response.data, "info"))
                    .catch(error => $.notify(this.brand.name + " already exists!", "error"));
            },

            deleteEvent(index) {
                if(index !== 0){
                    this.brands.splice(index, 1);
                    axios.get('/deleteBrand/' + this.brand.id)
                        .then(response => $.notify(response.data, "error"))
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            }
        }
    }
</script>