<template>
    <div class="container" style="width: 720px">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nr.</th>
                <th scope="col">Title</th>
                <th scope="col" class="text-center">Change</th>
                <th scope="col" class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(entry,index) in catalogs">
                <th scope="row">{{index+1}}</th>
                <td>{{entry.name}}</td>
                <td v-if="entry.id !== 1" class="text-center"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-backdrop="static" data-target="#exampleModalCenter" @click="catalog = entry">Change</button></td>
                <td v-if="entry.id !== 1" class="text-center"><button type="button" class="btn btn-danger btn-sm" @click="catalog = entry; deleteEvent(index)">Delete</button></td>
            </tr>
            </tbody>
        </table>

        <div class="text-right">
            <a href="/admin#/addToCatalog"><button type="button" class="btn btn-success btn-sm">Add new catalog</button></a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">Change name:</label>
                            <input type="text" class="form-control" v-model="catalog.name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="saveValue()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "catalogsControl",

        data: function () {
            return {
                catalog: {},
                catalogs: {},
                params: new FormData()
            }
        },

        created() {
            axios.get('/allCatalog')
                .then(response => {
                    this.catalogs = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                })
        },

        methods: {
            saveValue() {
                this.params.append('name', this.catalog.name);

                axios.post('/changeCatalogName/' + this.catalog.id, this.params)
                    .then(response => $.notify(response.data, "info"))
                    .catch(error => $.notify(this.catalog.name + " already exists!", "error"));
                },

            deleteEvent(index) {
                this.catalogs.splice(index, 1);
                axios.get('/deleteCatalog/' + this.catalog.id)
                    .then(response => {
                        $.notify(response.data, "error");
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>