<template>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nr.</th>
                <th scope="col">Photo</th>
                <th scope="col"><a href="javascript:void(0)" @click="sortProducts('name'); changeSortDirection()">Title</a></th>
                <th scope="col"><a href="javascript:void(0)" @click="sortProducts('about'); changeSortDirection()">About</a></th>
                <th scope="col">Catalog</th>
                <th scope="col">Brand</th>
                <th scope="col"><a href="javascript:void(0)" @click="sortProducts('price'); changeSortDirection()">Price</a></th>
                <th scope="col"><a href="javascript:void(0)" @click="sortProducts('amount'); changeSortDirection()">Amount</a></th>
                <th scope="col" class="text-center">Change</th>
                <th scope="col" class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(entry,index) in products">
                <th scope="row">{{index+1}}</th>
                <td><img :src="'/uploads/'+ entry.file_name" class="img-thumbnail"></td>
                <td>{{entry.name}}</td>
                <td>{{entry.about}}</td>
                <td>{{catalogs.find(catalog => catalog.id === entry.product_catalog_id).name}}</td>
                <td>{{brands.find(brand => brand.id === entry.brand_id).name}}</td>
                <td>{{entry.price}} €</td>
                <td>{{entry.amount}}</td>
                <td class="text-center"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-backdrop="static" data-target="#exampleModalCenter"
                                                @click="product = JSON.parse(JSON.stringify(entry));photoUrl();">Change</button></td>
                <td class="text-center"><button type="button" class="btn btn-danger btn-sm" @click="product = entry; deleteEvent(index);">Delete</button></td>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label class="font-weight-bold">Name: </label>
                                            <input style="margin-bottom: 10px" class="form-control" type="text" v-model="product.name" placeholder="Product name" >
                                        </div>
                                        <div class="col">
                                            <label class="font-weight-bold">Price:</label>
                                            <input style="margin-bottom: 10px" class="form-control" type="number" v-model="product.price" @change="product.price = checkValue(product.price)" placeholder="Product price €" >
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label class="font-weight-bold">Catalog item:</label>
                                            <select class="form-control" v-model="product.product_catalog_id" >
                                                <option disabled value="">Please select catalog</option>
                                                <option v-for="entry in catalogs" :value="entry.id">{{entry.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label class="font-weight-bold">Brand:</label>
                                            <select class="form-control" v-model="product.brand_id" >
                                                <option disabled value="">Please select brand</option>
                                                <option v-for="entry in brands" :value="entry.id">{{entry.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-top: 10px">
                                        <label class="font-weight-bold">Information about product:</label>
                                        <textarea class="form-control" v-model="product.about" rows="3" ></textarea>
                                    </div>

                                    <label class="font-weight-bold">Amount: </label>
                                    <input style="margin-bottom: 10px" class="form-control" type="number" v-model="product.amount" @change="product.amount = checkValue(product.amount)" placeholder="Amount" >

                                    <label class="font-weight-bold">New photo:</label>
                                    <input class="form-control" id="productPhoto" type="file" @change="previewFiles" multiple >

                                    <div v-if="url" id="preview">
                                        <img :src="url" />
                                    </div>

                                    <hr/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" @click="saveValue()" data-dismiss="modal">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>

        <div class="text-right">
            <a href="/admin#/addToProducts"><button type="button" class="btn btn-success btn-sm">Add new product</button></a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductsControl",

        data: function () {
            return {
                product: {},
                products: {},
                brands: {},
                catalogs: {},
                file: null,
                url: null,
                sortDirection: 'ASC',
                params: new FormData()
            }
        },

        created() {
            axios.get('/allProducts')
                .then(response => {
                    this.products = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });

            axios.get('/allBrand')
                .then(response => {
                    this.brands = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });

            axios.get('/allCatalog')
                .then(response => {
                    this.catalogs = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                })
        },

        methods: {
            photoUrl() {
              this.url = 'https://myshop.com/uploads/'+ this.product.file_name;
              document.getElementById('productPhoto').innerText = this.product.file_name;
            },

            previewFiles(event) {
                this.file = event.target.files[0];
                this.url = URL.createObjectURL(this.file);
                this.params.append("file", this.file);
            },

            checkValue(amount){
                if (isNaN(amount) || amount <= 0 ) {
                    return 1;
                } else {
                    return amount;
                }
            },

            saveValue() {

                this.params.append("name", this.product.name);
                this.params.append("product_catalog_id", this.product.product_catalog_id);
                this.params.append("about", this.product.about);
                this.params.append("brand_id", this.product.brand_id);
                this.params.append("amount", this.product.amount);
                this.params.append("price", this.product.price);
                this.params.append("file_name", this.product.file_name);

                axios.post('/changeProduct/' + this.product.id, this.params)
                    .then(response => {
                        $.notify(response.data, "info");
                        location.reload();
                    })
                    .catch(error => $.notify("Bad data!", "error"));
            },

            deleteEvent(index) {
                axios.get('/deleteProduct/' + this.product.id)
                       .then(response => {
                           $.notify(response.data, "error");
                           this.products.splice(index, 1);
                       })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            sortProducts(sortBy,sortDirection=this.sortDirection) {
                if (sortBy === 'name') {
                    this.products.sort(function (a, b) {
                        if (sortDirection === 'ASC') {
                            return ((a.name === b.name) ? 0 : ((a.name > b.name) ? 1 : -1));
                        } else if (sortDirection === 'DESC') {
                            return ((a.name === b.name) ? 0 : ((a.name < b.name) ? 1 : -1));
                        }
                    })
                } else if (sortBy === 'price') {
                    this.products.sort(function (a, b) {
                        if (sortDirection === 'ASC') {
                            return a.price < b.price ? 1 : -1;
                        } else if (sortDirection === 'DESC') {
                            return a.price > b.price ? 1 : -1;
                        }
                    })
                } else if (sortBy === 'amount') {
                    this.products.sort(function (a, b) {
                        if (sortDirection === 'ASC') {
                            return a.amount < b.amount ? 1 : -1;
                        } else if (sortDirection === 'DESC') {
                            return a.amount > b.amount ? 1 : -1;
                        }
                    })
                } else if(sortBy === 'about') {
                    this.products.sort(function (a, b) {
                        if (sortDirection === 'ASC') {
                            return ((a.about === b.about) ? 0 : ((a.about > b.about) ? 1 : -1));
                        } else if (sortDirection === 'DESC') {
                            return ((a.about === b.about) ? 0 : ((a.about < b.about) ? 1 : -1));
                        }
                    })
                }
            },

            changeSortDirection(){
                if(this.sortDirection === 'ASC') {
                    this.sortDirection = 'DESC';
                } else {
                    this.sortDirection = 'ASC';
                }
            },
        }
    }
</script>
<style>
    .table td, .table th {
        vertical-align: middle;
    }
</style>