<template>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID:</th>
                <th scope="col">Name:</th>
                <th scope="col">Email:</th>
                <th scope="col">City:</th>
                <th scope="col">Address:</th>
                <th scope="col">Zip:</th>
                <th scope="col">Phone:</th>
                <th scope="col">Change:</th>
                <th scope="col">Block/Unblock</th>
                <th scope="col">Delete:</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(entry,index) in users">
                <th scope="row">{{entry.id}}</th>
                <td>{{entry.name}}</td>
                <td>{{entry.email}}</td>
                <td>{{entry.city}}</td>
                <td>{{entry.address}}</td>
                <td>{{entry.zip}}</td>
                <td>{{entry.phone}}</td>
                <td class="text-center"><button type="button" class="btn btn-outline-primary btn-sm btn-block" @click="user = entry" data-toggle="modal" data-target="#staticBackdrop">Change</button></td>
                <td v-if="entry.block == false" class="text-center"><button type="button" class="btn btn-outline-danger btn-sm btn-block" @click="user = entry; blockChange(true)">Block</button></td>
                <td v-if="entry.block == true" class="text-center"><button type="button" class="btn btn-outline-success btn-sm btn-block" @click="user = entry; blockChange(false)">Unblock</button></td>
                <td class="text-center"><button type="button" class="btn btn-outline-danger btn-sm btn-block" @click="user = entry; deleteUser(index)">Delete</button></td>
            </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="col">
                            <label class="font-weight-bold">Name:</label>
                            <input type="text" class="form-control" v-model="user.name">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="font-weight-bold">City:</label>
                                    <input type="text" class="form-control" v-model="user.city">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="font-weight-bold">Address:</label>
                                    <input type="text" class="form-control" v-model="user.address">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="font-weight-bold">Zip:</label>
                                    <input type="text" class="form-control" v-model="user.zip">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="font-weight-bold">Phone:</label>
                                    <input type="text" class="form-control" v-model="user.phone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="saveChange()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Users",

        data: function () {
            return {
                users: {},
                user: '',
                params: new FormData()
            }
        },

        created() {
            axios.get('/allUsers')
                .then(response => {
                    this.users = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                })
        },

        methods: {

            saveChange() {
                if (this.user.name !== '') {
                    this.params.append("name", this.user.name);
                    if(this.user.city !== null)this.params.append("city", this.user.city);
                    if(this.user.address !== null)this.params.append("address", this.user.address);
                    if(this.user.zip !== null)this.params.append("zip", this.user.zip);
                    if(this.user.phone !== null)this.params.append("phone", this.user.phone);
                    axios.post('/userUpdate/'+this.user.id, this.params)
                        .then(response => {
                                $.notify(response.data, "info");
                        })
                        .catch(error => $.notify("Bad data!", "error"));
                }
            },

            blockChange(status) {
                if(status === true) {
                    axios.get('/userBlock/'+this.user.id)
                        .then(response => {
                            $.notify(response.data, "error");
                            this.user.block = true;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else if(status === false) {
                    axios.get('/userUnBlock/'+this.user.id)
                        .then(response => {
                            $.notify(response.data, "success");
                            this.user.block = false;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },

            deleteUser(index) {
                axios.get('/userDelete/'+this.user.id)
                    .then(response => {
                        $.notify(response.data, "error");
                        this.users.splice(index, 1);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>
