<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header font-italic" style="text-align: center"><h3>Adding new catalog title</h3></div>

                    <div class="card-body">
                        <label><h4>New catalog item title: <span class="h5" style="color: red">{{message}}</span></h4></label>
                        <input style="margin-bottom: 10px" class="form-control" type="text" v-model="message">
                        <button @click="addBrand()" class="btn btn-primary">Add new catalog item</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddToCatalog",

        data: function () {
            return {
                message: '',
                params: new FormData()
            };
        },

        methods: {
            addBrand() {
                this.params.append('name', this.message);
                axios.post('/addCatalogItem', this.params)
                    .then(response => {
                        $.notify("Successfully! Added " + this.message +" to catalog!", "info");
                        this.message = '';
                    }).catch(error => $.notify(this.message + " already exists!", "error"));
            },
        }
    }
</script>