<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header font-italic" style="text-align: center"><h3>Adding new product: <span style="color: #0d82d3">{{name}}</span></h3></div>
                    <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <input style="margin-bottom: 10px" class="form-control" type="text" v-model="name" placeholder="Product name" >
                                </div>
                                <div class="col">
                                    <input style="margin-bottom: 10px" class="form-control" type="number" v-model="price" @change="price = checkValue(price)" placeholder="Product price €" >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <select class="form-control" v-model="catalog" >
                                        <option disabled value="">Please select catalog</option>
                                        <option v-for="entry in catalogs" :value="entry">{{entry.name}}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-control" v-model="brand" >
                                        <option disabled value="">Please select brand</option>
                                        <option v-for="entry in brands" :value="entry">{{entry.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <hr/>

                            <div class="form-group">
                                <label style="margin-left: 20px"><h5>Information about product:</h5></label>
                                <textarea class="form-control" v-model="about" rows="3" ></textarea>
                            </div>

                            <input style="margin-bottom: 10px" class="form-control" type="number" v-model="amount" @change="amount = checkValue(amount)" placeholder="Amount" >

                            <input class="form-control" id="productPhoto" type="file" @change="previewFiles" multiple >

                            <div v-if="url" id="preview">
                                <img :src="url" />
                            </div>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="margin-top: 10px">
                                Add new product
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="card" style="width: auto">
                                                <img :src="url" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{name}}</h5>
                                                    <p class="card-text">{{about}}</p>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item"><span class="font-weight-bold">Price:</span> {{price}} €</li>
                                                    <li class="list-group-item"><span class="font-weight-bold">Catalog:</span> {{catalog.name}}</li>
                                                    <li class="list-group-item"><span class="font-weight-bold">Brand:</span> {{brand.name}}</li>
                                                    <li class="list-group-item"><span class="font-weight-bold">Amount:</span> {{amount}}</li>
                                                </ul>
                                            </div>
                                </div>
                                <div class="card-body" style="margin-left: 50%">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button @click="checkAll()" type="button" class="btn btn-primary" data-dismiss="modal">Add new product</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddToCatalog",

        data: function () {
            return {
                name: '',
                price: '',
                catalog: '',
                brand: '',
                about: '',
                amount: '',
                file: '',
                url: null,
                params: new FormData(),
                brands: {},
                catalogs: {}
            };
        },

        created() {
            axios.get('/allBrand')
                .then(response => {
                    this.brands = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });

                axios.get('/allCatalog')
                    .then(response => {
                        this.catalogs = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
        },

        methods: {
            previewFiles(event) {
                this.file = event.target.files[0];
                this.url = URL.createObjectURL(this.file);
            },

            checkValue(amount){
                if (isNaN(amount) || amount <= 0 ) {
                    return 1;
                } else {
                    return amount;
                }
            },

            checkAll() {
                if (this.name !== '' && this.price !== '' && this.catalog !== '' && this.brand !== '' && this.about !== '' && this.amount !== '' && this.file !== '') {

                    this.params.append("name", this.name);
                    this.params.append("product_catalog_id", this.catalog.id);
                    this.params.append("about", this.about);
                    this.params.append("brand_id", this.brand.id);
                    this.params.append("amount", this.amount);
                    this.params.append("price", this.price);
                    this.params.append("file", this.file);

                    axios.post('/addProduct', this.params)
                        .then(response => {
                            if (response.data === 'successfully') {
                                $.notify("Successfully! Added " + this.name + " to product!", "info");
                                this.clear();
                            } else {
                                $.notify(response.data, "error");
                            }
                        }).catch(error => $.notify("Bad data!", "error"));

                } else {
                    $.notify("Fill all fields!", "error");
                }
            },

            clear: function() {
                this.name = '';
                this.price = '';
                this.catalog = '';
                this.brand = '';
                this.about = '';
                this.amount = '';
                this.file = '';
                this.url = null;
                document.getElementById('productPhoto').value = "";
            }
        }
    }
</script>
<style>
    #preview {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #preview img {
        max-width: 100%;
        max-height: 500px;
    }
</style>